body {
    text-align: center;
}

#reloj {
    width: 100px;
    height: 100px;
}

#generarHora {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

#horaGenerada {
    font-size: 24px;
    margin-top: 20px;
}
